* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none; 
    user-drag: none; 

    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #111111;
    transition: background-color 0.25s ease-in-out;
    
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;

    overscroll-behavior-x: contain;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.75rem;
    }
}

.container {
    max-width: 75vh;
    width: 100%;
    height: 100%;

    position: absolute;
    
    display: grid;
    grid-template-columns: 3em 7em 1fr 8em 3em;
    grid-template-rows: 3em 2em 1fr 5em 3em;
}

.container .image {
    position: absolute;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    transition: opacity 0.5s ease-in-out;
}

.container .image img {
    max-width: 100%;
    height: fit-content;
}

.headingContainer {
    grid-column: 2;
    grid-row: 2;
}

.headingContainer h1 {
    font-size: 2.5em;
}

.number {
    grid-column: 2;
    grid-row: 4;

    align-self: end;

    font-size: 5em;
}

.description {
    grid-column: 4;
    grid-row: 4;

    align-self: end;

    font-size: 0.9em;

    z-index: 100;
}

.posterDescription {
    display: block;

    grid-column: 4;
    grid-row: 2;
    
    justify-self: end;
    text-align: end;

    font-size: 0.9em;
}

.projectName {
    margin-bottom: 1em;
}

.projectDescription {
    margin-bottom: 1em;
    font-weight: bold;
}

.projectUrl {
    display: block;
    margin-bottom: 1em;
    font-style: italic;
    text-decoration: none;
}

.keyboardButton {
    grid-column: 3;
    grid-row: 5;

    width: fit-content;
}

.hovering {
    transition: 0.25s ease-in-out;

    z-index: 100;
}

.hovering:hover {
    cursor: pointer;

    transition: 0.25s ease-in-out;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events:none;

    z-index: 1;
}

.typing {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events:none;

    color: #ffffff;

    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing .text {
    font-size: 5em;
}

.keyboardinput {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    bottom: 0;

    z-index: 900;

    cursor: text;

    background-color: #ffffff;

    transform: translateY(100%);

    transition: 0.25s ease-in-out;
}

.keyboardinput.on {
    transform: translateY(0);

    transition: 0.25s ease-in-out;
}

.keyboardinput.off {
    transform: translateY(100%);
}

.keyboardinput input {
    color: inherit;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;

    margin: 1em;
    width: 80%;
}

.thumbnailContainer {
    width: 100%;
    height: 100%;
    max-width: 75vh;
    margin: auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);    
}

.thumbnailContainer.move {
    transform: translateX(-100vw);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.thumbnailScroller {
    width: 100%;
    height: 100%;
    max-width: 75vh;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10% 30%; */

    display: block;
    position: absolute;

    transform: perspective(10px) translate3d(-100%, 0, -20px);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.metadata {
    width: 200%;
    height: 100%;

    position: absolute;
    top: 0%;
    left: 100%;
    color: white;

    padding-left: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    font-size: 200%;

    transition: color 0.25s ease-in-out;
}


.metadata * {
    height: fit-content;
}

.metadata h2 {
    font-weight: 100;
    margin-block-end: 0.5em;
}

.metadata p {
    transition: color 0.25s ease-in-out;
    color: #aaa;
    width: 70%
}

.aboutContainer {
    position: fixed;

    text-overflow: clip;
    overflow: hidden;

    top: 0;
    right: 0;

    height: 1em;

    margin: 0.5em 1em;

    color: white;    
    
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

    z-index: 100;
}

.aboutContainer.hide {
    transform: translateY(-200%);
    
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutContainer .back {
    transform: translateY(-200%);
    
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutContainer.show .back {
    transform: translateY(-100%);
    
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutContainer .about {
    transform: translateY(0);
    
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutContainer.show .about {
    transform: translateY(100%);
    
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutContentContainer {
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: white;

    font-size: 0.8em;

    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutContentContainer.hide {
    transform: translateX(100%);
    
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.aboutContent {
    max-width: 40%;
}

.line {
    border-top: solid 1px #ffffff;
    margin: 1em 0em;
}